/* BASIC RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* HERO SECTION */
.hero {
    height: 100vh;
    background: linear-gradient(135deg, #5b2c83, #1e3c72);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    padding: 20px;
}

.hero-content {
    max-width: 700px;
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 30px;
}

/* BUTTON */
.btn {
    display: inline-block;
    padding: 15px 30px;
    background-color: #ffffff;
    color: #5b2c83;
    text-decoration: none;
    font-weight: bold;
    border-radius: 30px;
    transition: 0.3s;
}

.btn:hover {
    background-color: #dcdcdc;
}
/* SERVICES SECTION */
.services {
    padding: 80px 20px;
    background-color: #f5f5f5;
    text-align: center;
}

.services h2 {
    font-size: 36px;
    color: #5b2c83;
    margin-bottom: 50px;
}

.service-box {
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    background: white;
    width: 300px;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.card h3 {
    color: #1e3c72;
    margin-bottom: 15px;
}

.card p {
    color: #555;
    line-height: 1.6;
}

.card:hover {
    transform: translateY(-10px);
}
.about {
    padding: 80px 20px;
    background: #ffffff;
    text-align: center;
}

.about h2 {
    font-size: 36px;
    color: #5b2c83;
    margin-bottom: 20px;
}

.about p {
    max-width: 800px;
    margin: auto;
    color: #555;
    font-size: 18px;
    line-height: 1.7;
}
.why {
    padding: 80px 20px;
    background: #f5f5f5;
    text-align: center;
}

.why h2 {
    font-size: 36px;
    color: #1e3c72;
    margin-bottom: 30px;
}

.why ul {
    list-style: none;
}

.why li {
    font-size: 18px;
    margin-bottom: 15px;
    color: #333;
}
footer {
    background: #1e3c72;
    color: white;
    text-align: center;
    padding: 20px;
}
